<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking System</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"  style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Sparks Foundation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/customers">Customers</a>
      <a class="nav-link" href="/history">Transaction History</a>
      
    </div>
  </div>
</nav>

<div class="jumbotron">
	
	
<div class="history-header" style="text-align:center">
    <h1>TRANSACTION HISTORY</h1>
</div>
	</div>
	
	<table class="table table-dark">
  <thead>
    <tr>
      
      <th scope="col">Transferred from</th>
      <th scope="col">Transferred to</th>
      <th scope="col">Amount</th>
	  
    </tr>
  </thead>
		<tbody>
    
	<% for(let transaction of transactions){ %>
        <tr>
            <td><%= transaction.fromName %></td>
            <td><%= transaction.toName %></td>
            <td><%= transaction.transfer %></td>
        </tr>
<% } %>
      
    
  </tbody>
</table>
	
	
	
	




	</body>
</html>